/* ========== MEDIA QUERIES ========== */

@media screen and (min-width: 640px) and (max-width:960px){
/* ========== HEADER ========== */
	header{
		.banner{
	  		h1{
	  			font-size: 6.3rem;
	  			&:after{
	  				width: 600px;
	  				left: 20px;
	  			}
	  		}
		}
	}

/* ========== MAIN ========== */
	
	.wrapper{
		width: 95%;
	}
	.offer{
		padding: 0 0 50px 0;
		ul{
			width: 40%;
			float: none;
		}
		p{
			clear: both;
		}
		&__work{
			bottom: 270px;
		}
	}
	.about{
		p{
			padding-right: 150px;
		}
	}
	section{
		width: 100%;
		height: 100%;
	}
	.contact{
		&__form{
			padding-right: 0;
			form{
				input[type=submit] {
	   				padding: 15px 0;
				}
				textarea{
					height: 180px;
				}
			}
		}
	}

}


@media screen and (min-width: 480px) and (max-width: 640px){
/* ========== HEADER ========== */
	header{
		nav{
			ul{
				padding: 30px 0 20px 0;
			}
			li{
	  			margin-right: 25px;
	  			&:nth-child(2){
	  				margin-right: 70px;
	  			}
	  			&:nth-child(3){
	  				margin-left: 70px;
	  			}
	  			&:last-child{
	  				margin: 0;
	  			}
			}
		}

		.banner{
			padding: 235px 0;
	  		h1{
	  			font-size: 5rem;
	  			&:after{
	  				width: 400px;
	  				left: 22px;
	  			}
	  		}
	  		.logo{
      			width: 120px;
      			top: -20px;
      		}
		}
	}

/* ========== MAIN ========== */

	.wrapper{
		width: 95%;
	}
	p, h4, span{
		text-align: justify;
		text-justify: inter-word;
	}

	.offer{
		padding: 0 0 50px 0;
		ul{
			margin: 50px 0.5%;
		}
		&__work{
			position: absolute;
			right: 0;
			bottom: 150px;
			z-index: -2;
			h4{
				display: none;
			}
			img{
				width: 360px;
				height: 100%;
				margin-top: 3px;
			}
		}
	}

	.about{
		height: 100%;
		background-position: top left;
		p{
			padding-right: 0;
			margin-bottom: 50px;
		}
	}

	.contact{
		padding-bottom: 40px;
		&__form{
			padding-right: 0;
			form{
			
				input[type=submit] {
	   				padding: 10px 0;
				}
				textarea{
					resize: none;
					height: 130px;
				}
			}
		}
		&__info{
			figure{
				text-align: center;
			}
			address{
				span{
					text-align: center;
				}
			}
		}
	}
}


@media screen and (max-width: 480px){
/* ========== HEADER ========== */
	header{
		nav{
			ul{
				list-style: none;
				text-align: center;
			}
			li{
	  			display: inline-block;
	  			margin-right: 47px;
	  			padding: 10px 0;
	  			&:nth-child(2){
	  				margin-right: 130px;
	  			}
	  			&:nth-child(3){
	  				margin-left: 130px;
	  			}
	  			&:last-child{
	  				margin: 0;
	  			}
			}
			a{
				color: #000;
				height: 100%;

				&:after {
					display: none;
				}
			}
		}
		.banner{
			padding: 180px 0px;
	      	background-attachment: initial;
	      	.logo{
	      		width: 100px;
	      		top: -10px;
	      		left: calc(50% - 50px);
	      	}
	  		h1{
	  			font-size: 3.6rem;
	  			&:after{
	  				height: 40px;
	  				width: 290px;
	  				left: 12px;
	  				top: -18px;
	  			}
	  		}
		}
	}

/* ========== MAIN ========== */

	.wrapper{
		width: 95%;
	}
	p, h4, span{
		padding: 0;
		text-align: justify;
		text-justify: inter-word;
	}
	h2{
		font-size: 3rem;
		margin-top: 10px; 
		margin-bottom: 20px;
		text-align: center;
		&:after{
			display: none;
		}
	}
	.offer{
		padding: 15px 0px 35px 0;
		ul{
			width: 100%;
			margin: 15px 0 15px 0;
			text-align: center;
			float: none;
		}
		&__work{
			display: none;
		}
	}

	.about{
		height: 100%;
		p{
			padding-right: 0;
		}
	}
	section{
		width: 100%;
		height: 100%;
	}
	.contact{
		padding-bottom: 40px;
		position: relative;
		&__form, &__info{
			float: none;
			width: 100%;
		}
		&__form{
			padding-right: 0;
			margin-bottom: 30px;
			form{
				input[type=submit] {
	   				padding: 10px 0; 
				}
				textarea{
					resize: none;
					height: 100px;
				}
			}
		}
		&__info{
			padding-left: 0;
			figure{
				text-align: center;
			}
			address{
				span{
					text-align: center;
				}
			}
		}
	}

/* ========== FOOTER ========== */
	footer{
		margin-top: 0;
		ul{
			a{	
				margin: 0 10px;
			}
		}
	}

}


@media screen and (max-width: 320px) {
/* ========== HEADER ========== */
	header{
		.banner{
	  		h1{
	  			font-size: 3rem;
	  			&:after{
	  				height: 0;
	  			}
	  		}
		}
	}
}