@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Libre+Baskerville:400,400i|Montserrat:700');

$libre: 'Libre Baskerville', serif;
$karla: Karla, sans-serif;
$montserrat: Montserrat, sans-serif;