
main{
	font-family: $inconsolata;
	font-size: 1.8rem;
	color: #16736e;
	h2, h3{
		font-family: $prata;
		font-size: 10rem;
	}
	h2{
		letter-spacing: 20px;
		color: #41ccc4;
		margin-top: 20px;
		margin-bottom: 50px;
	}
	h3{
		font-size: 5rem;
		margin-bottom: 30px;
	}
	a{
		display: block;
		text-transform: uppercase;
		text-decoration: none;
		color: #2fdbd2;
		margin-top: 45px;
	}
}

/* ===== WORK SECTION =====*/

	.works__item{
		&:after{
			content: "";
			display: block;
			clear: both;
		}
		&--photo, &--info{
			float: left;
			width: 50%;
			height: 500px;
			position: relative;
		}
		&--info{
			padding: 40px 60px 20px 55px;
			&:nth-child(1){
				text-align: right;
			}
		}
		img{
			width: 100%;
    		height: 100%;
		}
		&--photo-info{
			font-size: 3.2rem;
			font-family: $prata;
			position: absolute;
			top: 95px;
			left: -110px;
			z-index: 2;
			-webkit-transform: rotate(-90deg);   
			-moz-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			-o-transform: rotate(-90deg);
			transform: rotate(-90deg);
			&:before{
				content: " ";
				width: 260px;
				height: 35px;
				background-color: #75e3dd;
				position: absolute;
				top: -16px;
				left: -10px;
				z-index: -1;
			}
			&.even{
				top: 545px;
				right: -570px;
				-webkit-transform: rotate(90deg);   
				-moz-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-o-transform: rotate(-0deg);
				transform: rotate(90deg);
				&:before{
					top: -16px;
					left: -10px;	
				}
			}
		}
	}

/* ===== TEAM SECTION =====*/
#team{
	height: 100vh;
	h2{
		color: #003170;
	}
	&:after{
			content: "";
			display: block;
			clear: both;
		}
}
.team__item--photo, .team__item--info{
	width: 50%;
	float: left;
	position: relative;
}
.team__item--photo{

	img{
		width: 100%;
		height: 100%;
	}
	p{
		color: #fff;
		position: absolute;
		top: 50px;
		right: 250px; 	
	}
}
.team__item--info{
		padding: 15px 0 0 30px;
		font-size: 1.4rem;
		line-height: 1.6rem;
		h3{
			color: #306fbf;
			line-height: 4.8rem;
		}
		p{
			margin-bottom: 15px;
		}
		ul{
			font-weight: bold; 
		}
		li{
			font-weight: normal;
		}
		li:first-child{
			margin-top: 15px;
		}
}

/* ===== CONTACT SECTION =====*/
#contact{

	margin-bottom: 30px;
	&:after{
			content: "";
			display: block;
			clear: both;
		}
	h2{
		color: #f3747b;
	}
}
.contact__form, .contact__info{
	width: 50%;
	float: left;
}
.contact__info--photo, .contact__info--address{
	width: 50%;
	float: left;
}
.contact__info--address, span, address{
	color: #29273c;
	display: inline-block;
	padding-left: 22px;
	line-height: 2.0rem;
}
.contact__info--address{
	margin-top: 20px;
	span{
		margin: 20px 0;
		padding: 0;
	}
}
	address{
		font-weight: bold;
	}
form{
	input, textarea{
		width: 70%;
		height: 30px;
		border: 0;
		border-bottom: 2px solid #f3747b;
		margin-top: 26px;
	}
	textarea{
		height: 200px;
		resize: none;
		border: 2px dashed #f3747b;
	}
	input::placeholder, textarea::placeholder{
		font-family: $inconsolata;
		font-size: 16px;
		color: #f4979c;
		padding-left: 12px;
	}
}