@media screen and (max-width: 480px){
	#burger-container{
		display: block;
	}
	nav{
		display: none;
	}
	nav.open {
		display: block;
		background-color: rgba(102, 102, 102, 0.9);
		height: 40vh;
		width: 100%;
		position: absolute;
		top: -30px;
		left: -65px;

		ul li{
			float: none;
			text-align: center;
			width: 100%;
			padding: 0;
			margin: 0;
			padding: 10px;
			transition: all ease-in-out 0.4s;
			a{
				border-bottom: 1px solid #777;
			}
		}
	}
	header{
		.letter-h, .letter-p, .letter-d{
			height: 40vh;
			width: 100%;
		}
		.letter-p, .letter-d{
			height: 24vh;
			p{
				bottom: 30px;
				left: 40px;
			}
		}
		.letter-h{
			background-size: 35%;
			& p{
				font-size: 1.6rem;
				right: 40px;
			}
			& p:first-child{
				font-size: 5rem;
				bottom: 150px;
				right: 50px;
			}
		}
		.letter-d{
			background-size: 25%;
			background-position: 7% 75%;
		}
		.letter-p{
			background-size: 20%;
			background-position: 7% 75%;
		}
		.scroll{
		height: 12vh;
		word-wrap: break-word;
		}
	}
	main{
	font-size: 1.4rem;
		h2, h3{
			font-size: 6rem;
			padding-left: 10px;
		}
		h2{
			margin-bottom: 30px;
		}
		h3{
			font-size: 5rem;
			margin-bottom: 30px;
		}
		a{
			display: block;
			text-transform: uppercase;
			text-decoration: none;
			color: #2fdbd2;
			margin-top: 45px;
		}
	}
	/* ===== WORK SECTION =====*/

	.works__item{
		&--photo, &--info{
			width: 100%;
			height: 100%;
		}
		&--photo{
			&:nth-child(1){
				margin-top: 20px;
			}
		}
		&--info{
			padding: 40px 0 50px 20px;
			&:nth-child(1){
				padding-right: 20px;
			}
		}
		img{
			width: 100%;
    		height: 100%;
		}
		&--photo-info{
			top: 10px;
			left: 30px;
			-webkit-transform: rotate(-0deg);   
			-moz-transform: rotate(-0deg);
			-ms-transform: rotate(-0deg);
			-o-transform: rotate(-0deg);
			transform: rotate(-0deg);
			&.even{
				top: 10px;
				left: 30px;
				right: 0;
				-webkit-transform: rotate(-0deg);   
				-moz-transform: rotate(-0deg);
				-ms-transform: rotate(-0deg);
				-o-transform: rotate(-0deg);
				transform: rotate(-0deg);
			}
		}
	}
	/* ===== TEAM SECTION =====*/
	#team{
	}
	.team__item--photo, .team__item--info{
		width: 100%;
	}
	.team__item--photo{
		img{
			width: 100%;
			height: 100%;
		}
		p{
			top: 50px;
			left: 50px; 
			width: 70%;	
		}
	}
	.team__item--info{
			padding: 25px 5px 50px 5px;
			font-size: 1.6rem;
			line-height: 1.6rem;
	}

	/* ===== CONTACT SECTION =====*/
	#contact{
		margin-bottom: 50px;
	}
	.contact__form, .contact__info{
		width: 100%;
	}
	.contact__info{
		padding: 0 20px;
	}
	.contact__info--photo, .contact__info--address{
		width: 50%;
		float: left;
	}
	.contact__info--address, span, address{
		color: #29273c;
		display: inline-block;
		padding-left: 22px;
		line-height: 2.0rem;
	}
	.contact__info--address{
		margin-top: 20px;
		span{
			margin: 20px 0;
			padding: 0;
		}
	}
		address{
			font-weight: bold;
		}
	form{
			width: 90%;
			margin: 0 auto 30px auto;
		input, textarea{
			width: 100%;
		}
		textarea{
			height: 200px;
			resize: none;
			border: 2px dashed #f3747b;
		}
		input::placeholder, textarea::placeholder{
			font-family: $inconsolata;
			font-size: 16px;
			color: #f4979c;
			padding-left: 12px;
		}
	}
	/* ===== FOOTER SECTION =====*/

	footer{
		background-image: url("../images/socialmedia.svg") ;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 0 90%;
		// height: 190px;
		background-color: #f4979c;
		position: relative;
		img{
			width: 50%;
		}
		.social-icon{
			padding-top: 40px;
			width: 80%;
			li{
	    		margin-right: 10px;
	    		margin-left: 10px;
			}
		}
		.footer-info{
			position: static;
			margin: 60px 0 0 20px;
		}
	}
}