/* ========== MAIN SECTION ========== */

.about{
	position: relative;
	min-height: 910px;
	margin-top: 30px;
	&__image, &__info{
		width: 50%;
	}
	&__image{
		position: relative;
		&:after, &--top, &--mobile{
			position: absolute;
		}
		&:after{
			border: 5px solid $main;
			content: "";
			display: block;
			width: 555px;
			height: 770px; 
			top: 30px;
			left: -150px;
			z-index: 5;
		}
		&--top{
			width: 555px;
			height: 770px; 
			border: 0;
			top: 0;
			left: -180px;
			z-index: 4;
		}
		&--mobile{
			top: 140px;
			left: -60px;
			z-index: 6;
		}
	}
	&__info{
		margin-left: -20px;
		position: relative;
		float: right;
		@include font-family($muli, 1.8rem, #000, 3rem, 400);
		&--logo{
			margin-top: 160px;
		}
		h1{
			@include font-family($montserrat, 1.8rem, #000, 2.8rem, 700);
			text-transform: uppercase;
			position: absolute;
			top: 300px;
			left: 60px;
		}
		p{
			margin-top: 40px;
			margin-bottom: 80px;
		}
		button{
			@extend .about__info;
			font-size: 2rem;
			color: #fff;
			background-color: $main;
			text-transform: uppercase;
			width: 100%;
			padding: 25px 0 25px 0;
			border: 0;
			letter-spacing: 3px;
		}
	}
}

.features{
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 465px;
	@include font-family($playfair, 5rem, #FFF, 6.75rem, 400);
	font-style: italic;
	.wrapper{
		position: relative;
	}
	h3{
		position: absolute;
		right: 60px;
		top: 280px;
	}
}
section h2{
	@include font-family($playfair, 6.5rem, #000, 7.7rem, 400);
	font-style: italic;
	margin-bottom: 45px;
}

.experts{
	min-height: 480px;
	padding-top: 50px;
	.wrapper{
		position: relative;
	}
	&__person{
		width: 445px;
		padding: 30px 30px 30px 90px;
		@include font-family($playfair, 4rem, #000, 4.9rem, 400);
		border: 5px solid $main;
		h3{
			font-style: italic;
		}
		span, p{
			@include font-family($muli, 1.8rem, #000, 2.2rem, 400);
		}
		span{
			text-transform: uppercase;
		}
		p{
			line-height: 2.9rem;
			margin-top: 30px;
		}
		img{
			border: 5px solid $main;
			border-radius: 50%;
			position: absolute;
			left: -70px;
			top: 50px;
		}
		&--lidia{
			position: absolute;
			left: 60px;
		}
		&--albert{
			position: absolute;
			right: 0;
			top: 260px;
		}
	}
}

.contact{
padding-bottom: 185px;
	@include clearfix;
	&__form, &__image{
		width: 50%;
		float: left;
		position: relative;
	}
	form{
		padding-right: 30px;
	}
	label{
		@include font-family($muli, 1.8rem, #4f4f4f, 3rem, 400);
	}
	input, textarea{
		@extend label;
		border: 3px solid #051405;
		display: block;
		width: 100%;
		margin-bottom: 20px;
		padding: 10px;
		outline: none;
		&:focus{
			background-color: $main;
		}
	}
	textarea{
		resize: none;
		 overflow: auto;
	}
	input[type="submit"]{
		background-color: $main;
		@extend label;
		font-size: 2rem;
		padding: 18px;
		text-transform: uppercase;
		color: white;
		margin-top: 100px;
	}
	&__image{
		padding-left: 30px;
		padding-top: 30px;
			&:before{
				border: 5px solid $main;
				content: "";
				display: block;
				width: 410px;
				height: 580px; 
				position: absolute;
				top: 0;
				left: 25px;
				z-index: 20;
			}
		img{
			position: absolute;
			top: 30px; 
			right: 0;
			display: block;
			width: 420px;
			height: 590px;
			z-index: 19;
		}
	}
}