/* ===== FOOTER SECTION =====*/
.footer{
	background-color: $main;
	padding: 40px 0 40px 0;
	min-height: 65px;
	@include clearfix;
	p{
		white-space: pre-line;
		display: inline-block;
		float: left;
		height: 100%;
		vertical-align: middle;
		@include font-family($muli, 1.8rem, #FFF, 2.8rem, 400);
	}
	ul{
		list-style: none;
		float: right;
		li{
			display: inline-block;
			height: 65px;
			margin-left: 25px;
			a{
				display: inline-block;
				height: 100%;
			}
		}
	}
	&__copy, &__icons{
		display: inline-block;
		float: left;
		width: 50%;
		height: 100%;
	}
	img{
		width: auto;
		height: 65px;
	}
}