/* ========== HEADER SECTION ========== */
*{
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
	color: #000;
	height:100%;

}
body{
	max-width: 1200px;

	margin: 0 auto;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
}

header{
	position: relative;
	h1{
		font-family: $francois;
		font-size: 3.2rem;
		line-height: 8rem;
		position: absolute; 
		top: 55px;
		left: 600px;
		z-index: 2;
		&:after{
			content: "";
			display: block;
			background-color: #f3ce00;
			height: 80px;
			width: 630px;
			position: absolute;
			top: 0;
			right: -35px;
			z-index: -1;
		}
	}
}