/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Prata");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS RESET END */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#burger-container {
  display: none;
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 99;
}

#burger {
  cursor: pointer;
  display: block;
}

#burger span {
  background: #75e3dd;
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 3px;
  position: relative;
  top: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#burger-container.open span:nth-child(2),
#burger-container.open span:nth-child(3) {
  width: 0;
  opacity: 0;
}

#burger-container.open span:nth-child(4) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -12px;
}

#burger-container.open span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 12px;
}

header {
  font-size: 1.8rem;
  font-family: Inconsolata, monospace;
  color: #fff;
}

header nav {
  font-family: Prata, serif;
  font-size: 2.2rem;
  position: absolute;
  z-index: 1;
  top: 0 0;
  margin: 30px auto auto 65px;
}

header nav li {
  float: left;
  margin: 0 48px 0 0;
}

header nav a {
  color: #20c4bb;
  text-decoration: none;
}

header .letter-h, header .letter-p, header .letter-d {
  height: 89vh;
  float: left;
  position: relative;
  background-repeat: no-repeat;
}

header .letter-h {
  width: 50%;
  background-color: #003170;
  background-image: url(../images/h.svg);
  background-size: 50%;
  background-position: 9% 83%;
  text-align: right;
}

header .letter-h p {
  position: absolute;
  bottom: 50px;
  right: 65px;
}

header .letter-h p:first-child {
  font-size: 15rem;
  font-family: Prata, serif;
  border-bottom: 6px solid #fff;
  position: absolute;
  bottom: 124px;
  right: 65px;
  letter-spacing: 12px;
}

header .letter-d {
  width: 25%;
  background-color: #75e3dd;
  background-image: url(../images/d.svg);
  background-size: 65%;
  background-position: 13% 93%;
}

header .letter-d p {
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: #16736e;
  text-align: right;
  padding-right: 30px;
}

header .letter-p {
  width: 25%;
  background-color: #f4979c;
  background-image: url(../images/p.svg);
  background-size: 50%;
  background-position: 13% 93%;
}

header .letter-p p {
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: #be4249;
  text-align: right;
  padding-right: 30px;
}

header .scroll {
  color: #2864b1;
  display: inline-block;
  height: 11vh;
  width: 100%;
  text-align: center;
  line-height: 11vh;
}

main {
  font-family: Inconsolata, monospace;
  font-size: 1.8rem;
  color: #16736e;
}

main h2, main h3 {
  font-family: Prata, serif;
  font-size: 10rem;
}

main h2 {
  letter-spacing: 20px;
  color: #41ccc4;
  margin-top: 20px;
  margin-bottom: 50px;
}

main h3 {
  font-size: 5rem;
  margin-bottom: 30px;
}

main a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #2fdbd2;
  margin-top: 45px;
}

/* ===== WORK SECTION =====*/
.works__item:after {
  content: "";
  display: block;
  clear: both;
}

.works__item--photo, .works__item--info {
  float: left;
  width: 50%;
  height: 500px;
  position: relative;
}

.works__item--info {
  padding: 40px 60px 20px 55px;
}

.works__item--info:nth-child(1) {
  text-align: right;
}

.works__item img {
  width: 100%;
  height: 100%;
}

.works__item--photo-info {
  font-size: 3.2rem;
  font-family: Prata, serif;
  position: absolute;
  top: 95px;
  left: -110px;
  z-index: 2;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.works__item--photo-info:before {
  content: " ";
  width: 260px;
  height: 35px;
  background-color: #75e3dd;
  position: absolute;
  top: -16px;
  left: -10px;
  z-index: -1;
}

.works__item--photo-info.even {
  top: 545px;
  right: -570px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.works__item--photo-info.even:before {
  top: -16px;
  left: -10px;
}

/* ===== TEAM SECTION =====*/
#team {
  height: 100vh;
}

#team h2 {
  color: #003170;
}

#team:after {
  content: "";
  display: block;
  clear: both;
}

.team__item--photo, .team__item--info {
  width: 50%;
  float: left;
  position: relative;
}

.team__item--photo img {
  width: 100%;
  height: 100%;
}

.team__item--photo p {
  color: #fff;
  position: absolute;
  top: 50px;
  right: 250px;
}

.team__item--info {
  padding: 15px 0 0 30px;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.team__item--info h3 {
  color: #306fbf;
  line-height: 4.8rem;
}

.team__item--info p {
  margin-bottom: 15px;
}

.team__item--info ul {
  font-weight: bold;
}

.team__item--info li {
  font-weight: normal;
}

.team__item--info li:first-child {
  margin-top: 15px;
}

/* ===== CONTACT SECTION =====*/
#contact {
  margin-bottom: 30px;
}

#contact:after {
  content: "";
  display: block;
  clear: both;
}

#contact h2 {
  color: #f3747b;
}

.contact__form, .contact__info {
  width: 50%;
  float: left;
}

.contact__info--photo, .contact__info--address {
  width: 50%;
  float: left;
}

.contact__info--address, span, address {
  color: #29273c;
  display: inline-block;
  padding-left: 22px;
  line-height: 2.0rem;
}

.contact__info--address {
  margin-top: 20px;
}

.contact__info--address span {
  margin: 20px 0;
  padding: 0;
}

address {
  font-weight: bold;
}

form input, form textarea {
  width: 70%;
  height: 30px;
  border: 0;
  border-bottom: 2px solid #f3747b;
  margin-top: 26px;
}

form textarea {
  height: 200px;
  resize: none;
  border: 2px dashed #f3747b;
}

form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  font-family: Inconsolata, monospace;
  font-size: 16px;
  color: #f4979c;
  padding-left: 12px;
}

form input::-moz-placeholder, form textarea::-moz-placeholder {
  font-family: Inconsolata, monospace;
  font-size: 16px;
  color: #f4979c;
  padding-left: 12px;
}

form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  font-family: Inconsolata, monospace;
  font-size: 16px;
  color: #f4979c;
  padding-left: 12px;
}

form input::placeholder, form textarea::placeholder {
  font-family: Inconsolata, monospace;
  font-size: 16px;
  color: #f4979c;
  padding-left: 12px;
}

/* ===== CONTACT SECTION =====*/
footer {
  background-image: url("../images/socialmedia.svg");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 50% 120%;
  height: 220px;
  background-color: #f4979c;
  position: relative;
}

footer img {
  width: 50%;
}

footer .social-icon {
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
  width: 50%;
}

footer .social-icon:after {
  content: "";
  display: block;
  clear: both;
}

footer .social-icon li {
  list-style-type: none;
  float: left;
  margin-right: 30px;
  margin-left: 30px;
}

footer .social-icon a {
  display: block;
  width: 100%;
  height: 100%;
}

footer .social-icon img {
  width: 60px;
  height: 60px;
  display: inline-block;
}

footer .footer-info {
  font-family: Inconsolata, monospace;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #fff;
  position: absolute;
  bottom: 20px;
}

@media screen and (max-width: 480px) {
  #burger-container {
    display: block;
  }
  nav {
    display: none;
  }
  nav.open {
    display: block;
  }
  nav.open ul li {
    float: none;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    padding: 10px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }
  nav.open ul li a {
    border-bottom: 1px solid #777;
  }
}

/* ===== GRID ===== */
.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
