/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Muli|Playfair+Display:400,400i,700,700i");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, .contact input, .contact textarea, .contact input[type="submit"], legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS RESET END */
/* ========== HEADER SECTION ========== */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #000;
  height: 100%;
}

/* ========== MAIN SECTION ========== */
.features {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 465px;
  font-family: "Playfair Display", serif;
  font-size: 5rem;
  color: #FFF;
  line-height: 6.75rem;
  font-weight: 400;
  font-style: italic;
}

.features .wrapper {
  position: relative;
}

.features h3 {
  position: absolute;
  right: 60px;
  top: 280px;
}

section h2 {
  font-family: "Playfair Display", serif;
  font-size: 6.5rem;
  color: #000;
  line-height: 7.7rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 45px;
}

.experts {
  min-height: 480px;
  padding-top: 50px;
}

.experts .wrapper {
  position: relative;
}

.experts__person {
  width: 445px;
  padding: 30px 30px 30px 90px;
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  color: #000;
  line-height: 4.9rem;
  font-weight: 400;
  border: 5px solid #b7dbc8;
}

.experts__person h3 {
  font-style: italic;
}

.experts__person span, .experts__person p {
  font-family: "Muli", sans-serif;
  font-size: 1.8rem;
  color: #000;
  line-height: 2.2rem;
  font-weight: 400;
}

.experts__person span {
  text-transform: uppercase;
}

.experts__person p {
  line-height: 2.9rem;
  margin-top: 30px;
}

.experts__person img {
  border: 5px solid #b7dbc8;
  border-radius: 50%;
  position: absolute;
  left: -70px;
  top: 50px;
}

.experts__person--lidia {
  position: absolute;
  left: 60px;
}

.experts__person--albert {
  position: absolute;
  right: 0;
  top: 260px;
}

.contact {
  padding-bottom: 185px;
}

.contact:after {
  content: "";
  display: table;
  clear: both;
}

.contact__form, .contact__image {
  width: 50%;
  float: left;
  position: relative;
}

.contact form {
  padding-right: 30px;
}

.contact label, .contact input, .contact textarea, .contact input[type="submit"] {
  font-family: "Muli", sans-serif;
  font-size: 1.8rem;
  color: #4f4f4f;
  line-height: 3rem;
  font-weight: 400;
}

.contact input, .contact textarea {
  border: 3px solid #051405;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
}

.contact input:focus, .contact textarea:focus {
  background-color: #b7dbc8;
}

.contact textarea {
  resize: none;
  overflow: auto;
}

.contact input[type="submit"] {
  background-color: #b7dbc8;
  font-size: 2rem;
  padding: 18px;
  text-transform: uppercase;
  color: white;
  margin-top: 100px;
}

.contact__image {
  padding-left: 30px;
  padding-top: 30px;
}

.contact__image:before {
  border: 5px solid #b7dbc8;
  content: "";
  display: block;
  width: 410px;
  height: 580px;
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 20;
}

.contact__image img {
  position: absolute;
  top: 30px;
  right: 0;
  display: block;
  width: 420px;
  height: 590px;
  z-index: 19;
}

/* ===== FOOTER SECTION =====*/
.footer {
  background-color: #b7dbc8;
  padding: 40px 0 40px 0;
  min-height: 65px;
}

.footer:after {
  content: "";
  display: table;
  clear: both;
}

.footer p {
  white-space: pre-line;
  display: inline-block;
  float: left;
  height: 100%;
  vertical-align: middle;
  font-family: "Muli", sans-serif;
  font-size: 1.8rem;
  color: #FFF;
  line-height: 2.8rem;
  font-weight: 400;
}

.footer ul {
  list-style: none;
  float: right;
}

.footer ul li {
  display: inline-block;
  height: 65px;
  margin-left: 25px;
}

.footer ul li a {
  display: inline-block;
  height: 100%;
}

.footer__copy, .footer__icons {
  display: inline-block;
  float: left;
  width: 50%;
  height: 100%;
}

.footer img {
  width: auto;
  height: 65px;
}

/* ========== MEDIA QUERIES ========== */
@media screen and (min-width: 640px) and (max-width: 960px) {
  /* ========== HEADER ========== */
}

@media screen and (min-width: 480px) and (max-width: 640px) {
  /* ========== HEADER ========== */
}

@media screen and (max-width: 480px) {
  /* ========== HEADER ========== */
}

@media screen and (max-width: 320px) {
  /* ========== HEADER ========== */
}

/* ===== GRID ===== */
.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
