@import url('https://fonts.googleapis.com/css?family=Muli|Montserrat:400,700|Playfair+Display:400,400i,700,700i');

$muli: 'Muli', sans-serif;
$playfair: 'Playfair Display', serif;
$montserrat: 'Montserrat', sans-serif;