/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Karla:400,700|Libre+Baskerville:400,400i|Montserrat:700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS RESET END */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #000;
  height: 100%;
}

header {
  font-size: 1.8rem;
  font-family: Montserrat, sans-serif;
}

header nav ul {
  list-style: none;
  text-align: center;
  padding: 40px 0;
}

header nav li {
  display: inline-block;
  margin-right: 47px;
  padding: 10px 0;
}

header nav li:nth-child(2) {
  margin-right: 130px;
}

header nav li:nth-child(3) {
  margin-left: 130px;
}

header nav li:last-child {
  margin: 0;
}

header nav a {
  color: #000;
  height: 100%;
  text-decoration: none;
  position: relative;
  -webkit-transition: width .5s ease, color .5s ease;
  transition: width .5s ease, color .5s ease;
}

header nav a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  height: 3px;
  width: 0;
  background: transparent;
  -webkit-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease;
}

header nav a:hover {
  color: #70a3d0;
}

header nav a:hover:after {
  width: 100%;
  background: #70a3d0;
}

header .banner {
  position: relative;
  width: 100%;
  padding: 235px;
  background-image: url("../images/herobanner.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header .banner .logo {
  width: 150px;
  position: absolute;
  top: -40px;
  left: calc(50% - 75px);
}

header .banner h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 7.3rem;
  font-style: italic;
  text-align: center;
  position: relative;
  display: block;
  z-index: 5;
}

header .banner h1:after {
  content: "";
  display: block;
  height: 53px;
  width: 643px;
  background-color: #fff;
  position: absolute;
  top: -14px;
  left: 0;
  z-index: -1;
}

main:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

p, h4, span {
  font-family: Karla, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
}

h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 5rem;
  font-style: italic;
  position: relative;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 40px;
  width: 100%;
}

h2:after {
  content: "";
  display: block;
  width: 225px;
  height: 20px;
  background-color: #ececec;
  position: absolute;
  top: 30%;
  left: 130px;
}

.offer {
  position: relative;
  padding: 45px 300px 115px 0;
  z-index: 10;
}

.offer ul {
  display: block;
  width: 195px;
  margin: 50px 40px 50px 0;
  float: left;
  font-family: Karla, sans-serif;
  font-size: 1.6rem;
  line-height: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.offer ul li {
  font-weight: normal;
  border-bottom: 3px solid #ececec;
  font-size: 1.4rem;
  line-height: 5rem;
}

.offer ul li:last-child {
  border: none;
}

.offer p:before {
  content: "";
  display: block;
  clear: both;
}

.offer__work {
  position: absolute;
  right: 0;
  bottom: -100px;
  z-index: -2;
}

.offer__work h4 {
  text-transform: uppercase;
  position: relative;
  z-index: -1;
}

.offer__work h4:before {
  content: "";
  display: block;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: 11px solid #ececec;
  position: absolute;
  top: -45px;
  left: -65px;
  z-index: -3;
}

.offer__work img {
  width: 360px;
  height: 100%;
  margin-top: 3px;
}

.about {
  width: 100%;
  height: 100vh;
  background-color: #ececec;
  background-image: url("../images/about-bg.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.about h2:after {
  background-color: #fff;
  left: 150px;
}

.about p {
  padding-right: 300px;
  margin-bottom: 30px;
}

section {
  width: 100%;
  height: 100%;
}

.contact {
  padding-bottom: 40px;
  position: relative;
}

.contact h2:after {
  left: 190px;
}

.contact__form, .contact__info {
  float: left;
  width: 49%;
}

.contact__form {
  padding-right: 75px;
}

.contact__form form input, .contact__form form textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #cdcccc;
  margin-top: 30px;
  padding-bottom: 12px;
}

.contact__form form input[type=submit] {
  padding: 25px 0;
  background: #e2e2e1;
  cursor: pointer;
  font-family: Karla, sans-serif;
  font-size: 1.6rem;
  color: #8f8c8c;
  text-transform: uppercase;
}

.contact__form form textarea {
  resize: none;
}

.contact__form form input::-webkit-input-placeholder, .contact__form form textarea::-webkit-input-placeholder {
  font-family: Karla, sans-serif;
  font-size: 1.6rem;
  color: #939393;
}

.contact__form form input::-moz-placeholder, .contact__form form textarea::-moz-placeholder {
  font-family: Karla, sans-serif;
  font-size: 1.6rem;
  color: #939393;
}

.contact__form form input:-ms-input-placeholder, .contact__form form textarea:-ms-input-placeholder {
  font-family: Karla, sans-serif;
  font-size: 1.6rem;
  color: #939393;
}

.contact__form form input::placeholder, .contact__form form textarea::placeholder {
  font-family: Karla, sans-serif;
  font-size: 1.6rem;
  color: #939393;
}

.contact__info {
  padding-left: 75px;
}

.contact__info figure img {
  width: 100%;
}

.contact__info figcaption {
  font-family: Karla, sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  text-transform: uppercase;
  padding-bottom: 36px;
  position: relative;
  z-index: -1;
}

.contact__info figcaption:before {
  content: "";
  display: block;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: 11px solid #ececec;
  position: absolute;
  top: -75px;
  left: -65px;
  z-index: -3;
}

.contact__info address span {
  display: block;
  font-weight: bold;
}

/* ===== FOOTER SECTION =====*/
footer {
  margin-top: 50px;
  background-color: #ececec;
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

footer img {
  height: 100%;
}

footer ul {
  list-style: none;
  text-align: center;
  padding: 35px 0;
}

footer li {
  display: inline-block;
}

footer a {
  display: block;
  color: #000;
  height: 50px;
  margin: 0 40px;
  text-decoration: none;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

footer a:hover {
  color: #70a3d0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer a:hover:after {
  width: 100%;
  background: #70a3d0;
}

/* ===== GRID ===== */

/*# sourceMappingURL=style.css.map */
